*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
}

body{
    padding:80px 120px;
}

h1{
    text-align: center;
    margin-bottom: 24px;
}

.container{
    display: flex;
    justify-content: center;
}

.container-imagem{
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 40px;
}

.tempo {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin-bottom: 40px;
    color: blue;
    margin: 15px 0;
    border-radius: 10px;
}

.tempo li{
    background-color: goldenrod;
    padding: 15px;
    width: fit-content;
    border-radius: 8px;
}
 li{
    background-color: goldenrod;
    padding: 15px;
    width: fit-content;
    border-radius: 8px;
     margin-bottom: 5px;
   font-size: 20px;
   display: flex;
   margin-bottom: 20px;
padding: 10px;
align-items: center;
}

 p{
    text-align: center;
    margin-bottom: 50px;
    font-style: italic;
    font-weight: bold;
 
 }
 ol{
    
      list-style: none;        /* remove a numeração */
      padding: 0;
      margin: 5px;
      text-align: center; 
      display: inline-block;  
      background-color: grey; 
      padding: 5px 15px;
      border: 2px solid #333;
      border-radius: 8px;
      font-weight: bold;     /* centraliza o texto */
}
